<div class="main-container">
<clr-dropdown [clrCloseMenuOnItemClick]="false">
    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        Filters
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>


        <label class="dropdown-header">Filter list</label>
        <input clrInput placeholder="Search..." name="input" [(ngModel)]="filterString" />
        <div class="option-container">
          <button type="button" clrDropdownItem *ngFor="let option of filteredOptions">{{option}}</button>
        </div>
    </clr-dropdown-menu>
</clr-dropdown> 
</div>
