.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.option-container {
  max-height: 200px;
  overflow-y: auto;
}

clr-dropdown-menu::ng-deep clr-input-container {
  margin-top: 0.2rem;
}