<div class="main-container">
<clr-dropdown [clrCloseMenuOnItemClick]="false">
    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        Filters
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>


        <label class="dropdown-header">Filter list</label>
        <input clrInput placeholder="Search..." name="input" [(ngModel)]="filterString" />
        <div class="option-container">
          <button type="button" clrDropdownItem *ngFor="let option of filteredOptions">{{option}}</button>
        </div>
    </clr-dropdown-menu>
</clr-dropdown> 
<clr-dropdown [clrCloseMenuOnItemClick]="false">
    <button type="button" class="btn btn-outline-primary" clrDropdownTrigger>
        Filters-no header
        <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
        <input clrInput placeholder="Search..." name="input" [(ngModel)]="filterString" />
        <div class="option-container">
          <button type="button" clrDropdownItem *ngFor="let option of filteredOptions">{{option}}</button>
        </div>
    </clr-dropdown-menu>
</clr-dropdown> 

<div class="select-container">
<clr-select-container>
  <select clrSelect name="options" [(ngModel)]="options">
    <option value="one">One</option>
    <option value="two">Two</option>
    <option value="three">Three</option>
  </select>
</clr-select-container>
  <button (click)="options = {}" class="btn btn-link btn-sm">Clear</button>
</div>

</div>
